---
export const prerender = true;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<section
			class="h-screen flex items-center justify-center bg-slate-50"
		>
			<form action="/secret" class="p-12 rounded-xl bg-white">
				<label>Please enter password:</label><br />
				<input
					type="text"
					id="secret"
					name="password"
				/><br />
			</form>
		</section>
	</body>
</html>
