---
export const prerender = true;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="m-8 bg-background font-ubuntu_mono">
		<section class="">
			<form action="/secret" class="bg-background">
				<label class="text-accent">password:</label>
				<input
					type="text"
					id="secret"
					name="password"
					class="text-accent bg-background"
				/><br />
			</form>
		</section>
	</body>
</html>
