---
export const prerender = true;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body
		class="flex-col min-h-max justify-center items-start font-ubuntu_mono"
	>
		<section class="m-64 bg-black">
			<form action="/secret" class="text-lime-500">
				<label>password:</label>
				<input
					type="text"
					id="secret"
					name="password"
					placeholder="Enter here"
				/><br />
			</form>
		</section>
	</body>
</html>
